include requirements/*.txt
include mmaivision/.mim/model-index.yml
include mmaivision/.mim/demo/*/*
recursive-include mmaivision/.mim/configs *.py *.yml
recursive-include mmaivision/.mim/tools *.sh *.py
